---
layout: default
cards:
    -   heading: little heading 
        description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione beatae architecto cupiditate suscipit dignissimos quae corporis! Rerum eum harum aspernatur animi nesciunt voluptatibus delectus consequuntur illum doloribus error. Laudantium, reprehenderit.
        featured_image: /images/the-sleep-co-1.jpg
    -   heading: little heading 
        description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione beatae architecto cupiditate suscipit dignissimos quae corporis! Rerum eum harum aspernatur animi nesciunt voluptatibus delectus consequuntur illum doloribus error. Laudantium, reprehenderit.
        featured_image: /images/the-sleep-co-1.jpg
    -   heading: little heading 
        description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione beatae architecto cupiditate suscipit dignissimos quae corporis! Rerum eum harum aspernatur animi nesciunt voluptatibus delectus consequuntur illum doloribus error. Laudantium, reprehenderit.
        featured_image: /images/the-sleep-co-1.jpg

---

    <!-- -----------------------Header section /About page----------------------- -->
    <header class="grid tall-60 text-center">
        {% include header-nav.html %}
        <!-- heading hierachy depends on the importance of the heading-- bigger does not mean important -->
        <div class="col-12-middle">
            <h3 class="bold-font editable">
                 <span class="featured-text">addictively </span> soft
            </h3>
            <h1 class="normal-font editable">
                you won't want to get out of bed
            </h1>
        </div>
    </header>

    <!-- -----------------------feature textgrid/ proiduct ----------------------- -->
    <section class="padded grid bg-featured">
        <div class="padded-sm col-12 text-center">
            <h2> <span class="white-text">features</span> you will love</h2>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia aspernatur, error commodi natus id sit animi pariatur omnis sed aliquam incidunt corrupti veniam obcaecati ipsa? Voluptatem eaque molestiae ad.</p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia aspernatur, error commodi natus id sit animi pariatur omnis sed aliquam incidunt corrupti veniam obcaecati ipsa? Voluptatem eaque molestiae ad.</p>

        </div>
        <div class="padded-sm col-3"> 
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia aspernatur, error commodi natus id sit animi pariatur omnis sed aliquam incidunt corrupti veniam obcaecati ipsa? Voluptatem eaque molestiae ad.</p>

        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia aspernatur, error commodi natus id sit animi pariatur omnis sed aliquam incidunt corrupti veniam obcaecati ipsa? Voluptatem eaque molestiae ad.</p>

        </div>
    </section>
            <!-- -----------------------Cards section /About page----------------------- -->
    <section class = "grid padded">
        {% for item in page.cards %}
        <div class = "col-4 padded-sm"> 
            <div class = "card">
                <div class = "bg-image portrait" style= "background-image: url('{{item.featured_image}}')"></div>
                <div class = "padded-sm">
                    <h3> {{heading}} </h3>
                    <p> {{decription}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
        
    </section>

     <!-- -----------------------banner -------------------------->

     <section class="padded text-center bg-dark tall-70 grid">
        
        <div class="col-12-middle">
            <h3 class="big-text"> 
                <span class="normal-font small-text"> spend over $150 and activate</span> 
                <br /> <span class="featured-text">free </span> express shipping
            </h3>
    </div>
    </section>

     <!-- -----------------------grid/Products page -------------------------->
    <section class="grid"> 
        <div class="padded col-6-middle">
            <h2>build to last a <span class="featured-text editable">lifetime</span></h2>
            <p class="editable">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, architecto. <strong>Quaerat possimus</strong> nemo veniam dolorem, laudantium ex cupiditate necessitatibus nihil perferendis aliquam praesentium porro repellendus dignissimos <a target="_blank" rel="noopener" href="https://www.google.co.za">facere ration</a>e et ullam?
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-- background image bed -->
        </div>
        <div class="bg-image bg-pug col-6 tall-70">
            <!-- background image pug sleeping -->
        </div>
        <div class="padded col-6-middle">
            <h2>so <span class="featured-text">soft</span>you'll melt</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, architecto. Quaerat possimus nemo veniam dolorem, laudantium ex cupiditate necessitatibus nihil perferendis aliquam praesentium porro repellendus dignissimos facere ratione et ullam?</p>
        </div>
        <div class="padded col-6-middle">
            <h2>build to last a <span class="featured-text editable">lifetime</span></h2>
            <p class="editable">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, architecto. <strong>Quaerat possimus</strong> nemo veniam dolorem, laudantium ex cupiditate necessitatibus nihil perferendis aliquam praesentium porro repellendus dignissimos <a target="_blank" rel="noopener" href="https://www.google.co.za">facere ration</a>e et ullam?
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-- background image bed -->
        </div>
    </section>
