*{
padding:0;
margin:0;
box-sizing: border-box;

}



/* ---------------------------------- Universal Styles ---------------------------------- */

/* Universal styles and utility classes */
.padded     {padding: 5%;}
.padded-sm  {padding: 1rem;}
.padded-lg  {padding: 10%;}

.tall-50    { height: 50vh;}
.tall-60    { height: 60vh;}
.tall-70   { height: 70vh;}
.tall-80    { height: 80vh;}
.tall-90    { height: 90vh;}
.tall-100   { height: 100vh;}

/* Background and images ----------------------*/
.bg-dark{
    background-color: #192837;
    color: white;
}

.bg-featured{
    background-color: #ffbe00;

}

.bg-accent{
    background-color: #e3ecf2;
}


/* Image Styles */
.bg-image{
    background-image: url(/images/the-sleep-co-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.landscape{ padding-bottom: 65%;}
.portrait{ padding-bottom: 125%;}
.square{ padding-bottom: 100%;}

/*  Typography styles ----------------- */
.text-left      {text-align: left;}
.text-center    {text-align: center;}
.text-right     {text-align: right;}

.featured-text{ color: #ffbe00;}
.white-text{ color: white;}

.small-text     {   font-size: 1.5rem;}
.medium-text    { 
                    font-size: 2rem;
                    line-height: 1.2;
}
.big-text       {   font-size: 4.5rem;}

.subtitle{ 
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}

.icon{
    font-size: 2rem;
}


.light-font{ font-weight: 200;}
.normal-font{ font-weight: 400;}
.regular-font{ font-weight: 500;}
.bold-font{ font-weight: 800;}


body{
    font-family: 'Catamaran', sans-serif;
    color: #192837;
}


h2, h3, h4{
    margin-bottom: 1rem;
    line-height: 1.1;
}


h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.4rem;
}

h3{ line-height: 1;}

p{
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}
p:last-child{
    margin-bottom:0;
}

a{
    color:inherit;
    text-decoration: none; 
    border-bottom: 1px solid;
}

a:hover{
    color: #ffbe00;
}





/* ---------------------------------- Individual Section Styles ---------------------------------- */

/* ---------------- Header & Footer---------------- */
header{
    background-image: url('/images/the-sleep-co-1.jpg');
    background-size: cover;
    background-position: center;
    padding: 2% 5%;
}

header h3{
    font-size: 5.5rem;
    line-height: 1;
}

footer a{ border: none;}

nav a{
    padding: 0.5rem;
    display: inline-block;
    border:none;
}

logo h2{
    margin-bottom: 0;
}

/* ---------------- BG Images ---------------- */

.bg-bed{
    background-image: url('/images/the-sleep-co-4.jpg');
    background-position: 50% 35%;
}
.bg-pug{
    background-image: url('/images/the-sleep-co-2.jpg');
    background-position: 50% 35%;
}

.bg-pillow{
    background-image: url('/images/the-sleep-co-3.jpg');
    background-position: 50% 57%;
}

/* ---------------- Features icon grid---------------- */
.fas{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}


/* ---------------- Banner---------------- */

/* ---------------- Quote---------------- */

.quote-icon{
    font-size: 6rem; 
    display: inline-block;
    color: rgb(120, 120, 125);
    line-height:1;
}



/* ---------------- Buttons and Forms ---------------- */


input,
textarea{
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
    border: 2px solid #ffbe00;
    outline: none;
}

.button{
    padding: 0.5rem 2rem;
    background-color: #ffbe00;
    appearance: none;
    border: 2px solid #ffbe00;
    color: inherit;
    }



/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

    body{ border: 2px solid green; padding: 0.5rem;}
  .show-md { display: block; }
  .hide-md { display: none;  }

  .md-tall-80{min-height: 80vh;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    body{ border: 2px solid blue;}


  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }

  .logo h2  { font-size: 2rem;}
  header h3 { font-size: 11vw;}
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    body{ border: 2px solid lightblue;}


  .show-xs { display: block; }
  .hide-xs { display: none;  }

  h1        {font-size: 1.4rem;
            line-height: 1.1; }
}